[submodule "devel/openssl"]
	path = devel/openssl
	url = https://github.com/openssl/openssl.git
[submodule "tests/suite/tls-fuzzer/tlsfuzzer"]
	path = tests/suite/tls-fuzzer/tlsfuzzer
	url = https://github.com/tomato42/tlsfuzzer.git
[submodule "tests/suite/tls-fuzzer/python-ecdsa"]
	path = tests/suite/tls-fuzzer/python-ecdsa
	url = https://github.com/warner/python-ecdsa
[submodule "tests/suite/tls-fuzzer/tlslite-ng"]
	path = tests/suite/tls-fuzzer/tlslite-ng
	url = https://github.com/tomato42/tlslite-ng.git
[submodule "gnulib"]
	path = gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
