*.lo
*.o
*~
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/algorithms.texi
doc/core.c.texi
doc/credentials/Makefile
doc/credentials/Makefile.in
doc/credentials/openpgp/Makefile
doc/credentials/openpgp/Makefile.in
doc/credentials/srp/Makefile
doc/credentials/srp/Makefile.in
doc/credentials/x509/Makefile
doc/credentials/x509/Makefile.in
doc/cyclo/Makefile
doc/cyclo/Makefile.in
doc/doxygen/Doxyfile
doc/errcodes
doc/error_codes.texi
doc/examples/Makefile
doc/examples/Makefile.in
doc/examples/ex-cert-select
doc/examples/ex-client-psk
doc/examples/ex-client-resume
doc/examples/ex-client-srp
doc/examples/ex-client-tlsia
doc/examples/ex-client1
doc/examples/ex-client2
doc/examples/ex-crq
doc/examples/ex-cxx
doc/examples/ex-rfc2818
doc/examples/ex-serv-anon
doc/examples/ex-serv-export
doc/examples/ex-serv-pgp
doc/examples/ex-serv-psk
doc/examples/ex-serv-srp
doc/examples/ex-serv1
doc/examples/libexamples.la
doc/extra-api.texi
doc/extra.c.texi
doc/gnutls-api.texi
doc/gnutls-extra-api.texi
doc/gnutls.aux
doc/gnutls.cp
doc/gnutls.cps
doc/gnutls.dvi
doc/gnutls.fn
doc/gnutls.fns
doc/gnutls.html
doc/gnutls.info
doc/gnutls.info-1
doc/gnutls.info-2
doc/gnutls.info-3
doc/gnutls.ky
doc/gnutls.log
doc/gnutls.pdf
doc/gnutls.pg
doc/gnutls.ps
doc/gnutls.toc
doc/gnutls.tp
doc/gnutls.vr
doc/gnutls.vrs
doc/ia-api.texi
doc/manpages/*.3
doc/manpages/Makefile
doc/manpages/Makefile.in
doc/pgp-api.texi
doc/printlist
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/gnutls-decl-list.txt
doc/reference/gnutls-decl.txt
doc/reference/gnutls-overrides.txt
doc/reference/gnutls-sections.txt
doc/reference/gnutls-undeclared.txt
doc/reference/gnutls-undocumented.txt
doc/reference/gnutls-unused.txt
doc/reference/gnutls.args
doc/reference/gnutls.hierarchy
doc/reference/gnutls.interfaces
doc/reference/gnutls.pdf
doc/reference/gnutls.prerequisites
doc/reference/gnutls.signals
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/xml/
doc/scripts/Makefile
doc/scripts/Makefile.in
doc/stamp-vti
doc/version.texi
doc/x509-api.texi
gl/Makefile
gl/Makefile.in
gl/alloca.h
gl/arg-nonnull.h
gl/arpa/
gl/c++defs.h
gl/libgnu.la
gl/netdb.h
gl/stdio.h
gl/stdlib.h
gl/string.h
gl/strings.h
gl/sys/
gl/tests/Makefile
gl/tests/Makefile.in
gl/tests/arg-nonnull.h
gl/tests/c++defs.h
gl/tests/fcntl.h
gl/tests/libtests.a
gl/tests/sys/
gl/tests/test-alignof
gl/tests/test-alloca-opt
gl/tests/test-arpa_inet
gl/tests/test-binary-io
gl/tests/test-c-ctype
gl/tests/test-errno
gl/tests/test-fseeko
gl/tests/test-ftello
gl/tests/test-ftello3
gl/tests/test-getaddrinfo
gl/tests/test-getdelim
gl/tests/test-getline
gl/tests/test-gettimeofday
gl/tests/test-inet_ntop
gl/tests/test-inet_pton
gl/tests/test-lseek
gl/tests/test-memchr
gl/tests/test-netdb
gl/tests/test-netinet_in
gl/tests/test-perror
gl/tests/test-read-file
gl/tests/test-select
gl/tests/test-select-fd
gl/tests/test-select-stdin
gl/tests/test-snprintf
gl/tests/test-sockets
gl/tests/test-stdbool
gl/tests/test-stddef
gl/tests/test-stdint
gl/tests/test-stdio
gl/tests/test-stdlib
gl/tests/test-strerror
gl/tests/test-string
gl/tests/test-sys_ioctl
gl/tests/test-sys_select
gl/tests/test-sys_socket
gl/tests/test-sys_stat
gl/tests/test-sys_time
gl/tests/test-time
gl/tests/test-unistd
gl/tests/test-vasnprintf
gl/tests/test-verify
gl/tests/test-version-etc
gl/tests/test-wchar
gl/tests/warn-on-use.h
gl/tests/test-float
gl/tests/test-fseek
gl/tests/test-ftell
gl/tests/test-ftell3
gl/tests/test-intprops
gl/tests/test-inttypes
gl/tests/test-argp
gl/tests/test-dirent
gl/tests/test-dup2
gl/tests/test-environ
gl/tests/test-frexp-nolibm
gl/tests/test-frexpl-nolibm
gl/tests/test-fseeko3
gl/tests/test-fseterr
gl/tests/test-getcwd-lgpl
gl/tests/test-getopt
gl/tests/test-ignore-value
gl/tests/test-isnand-nolibm
gl/tests/test-isnanf-nolibm
gl/tests/test-isnanl-nolibm
gl/tests/test-lstat
gl/tests/test-malloc-gnu
gl/tests/test-malloca
gl/tests/test-math
gl/tests/test-open
gl/tests/test-printf-frexp
gl/tests/test-printf-frexpl
gl/tests/test-rawmemchr
gl/tests/test-setenv
gl/tests/test-signbit
gl/tests/test-sleep
gl/tests/test-stat
gl/tests/test-strchrnul
gl/tests/test-strnlen
gl/tests/test-symlink
gl/tests/test-sysexits
gl/tests/test-unsetenv
gl/tests/test-vfprintf-posix
gl/tests/test-vprintf-posix
gl/time.h
gl/unistd.h
gl/warn-on-use.h
gl/wchar.h
guile/Makefile
guile/Makefile.in
guile/modules/Makefile
guile/modules/Makefile.in
guile/src/Makefile
guile/src/Makefile.in
guile/src/libguile-gnutls-extra-v-1.la
guile/src/libguile-gnutls-v-1.la
guile/tests/Makefile
guile/tests/Makefile.in
lib/ABOUT-NLS
lib/INSTALL
lib/Makefile
lib/Makefile.in
lib/aclocal.m4
lib/autom4te.cache/
lib/build-aux/config.guess
lib/build-aux/config.sub
lib/build-aux/depcomp
lib/build-aux/install-sh
lib/build-aux/ltmain.sh
lib/build-aux/missing
lib/config.h
lib/config.h.in
lib/config.log
lib/config.status
lib/configure
lib/gcrypt/libcrypto.la
lib/gnutls-api.texi
lib/gnutls.pc
lib/includes/Makefile
lib/includes/Makefile.in
lib/includes/gnutls/gnutls.h
lib/libgnutls.la
lib/libgnutlsxx.la
lib/libtool
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
lib/minitasn1/Makefile
lib/minitasn1/Makefile.in
lib/minitasn1/libminitasn1.la
lib/nettle/libcrypto.la
lib/opencdk/Makefile
lib/opencdk/Makefile.in
lib/opencdk/libminiopencdk.la
lib/openpgp/Makefile
lib/openpgp/Makefile.in
lib/openpgp/libgnutls_openpgp.la
lib/openpgp/pgp-api.texi
po/*.gmo
po/*.po
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@quot.header
po/en@quot.insert-header
po/insert-header.sin
po/gnutls.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
lib/stamp-h1
lib/x509/Makefile
lib/x509/Makefile.in
lib/x509/libgnutls_x509.la
lib/x509/x509-api.texi
libextra/INSTALL
libextra/Makefile
libextra/Makefile.in
libextra/aclocal.m4
libextra/autom4te.cache/
libextra/build-aux/config.guess
libextra/build-aux/config.sub
libextra/build-aux/depcomp
libextra/build-aux/install-sh
libextra/build-aux/ltmain.sh
libextra/build-aux/missing
libextra/config.h
libextra/config.h.in
libextra/config.log
libextra/config.status
libextra/configure
libextra/gnutls-extra-api.texi
libextra/gnutls-extra.pc
libextra/ia-api.texi
libextra/includes/Makefile
libextra/includes/Makefile.in
libextra/libgnutls-extra.la
libextra/libgnutls-openssl.la
libextra/libtool
libextra/stamp-h1
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/Makefile
src/Makefile.in
src/benchmark
src/certtool
src/cfg/Makefile
src/cfg/Makefile.in
src/cfg/platon/Makefile
src/cfg/platon/Makefile.in
src/cfg/platon/str/Makefile
src/cfg/platon/str/Makefile.in
src/gnutls-cli
src/gnutls-cli-debug
src/gnutls-serv
src/libcfg.la
src/libcmd-certtool.la
src/libcmd-cli-debug.la
src/libcmd-cli.la
src/libcmd-p11tool.la
src/libcmd-psk.la
src/libcmd-serv.la
src/libcmd-srp.la
src/p11tool
src/psktool
src/srptool
stamp-h1
tags
tests/rng-fork
tests/mini-eagain-dtls
tests/*/out
tests/Makefile
tests/Makefile.in
tests/anonself
tests/certder
tests/certificate_set_x509_crl
tests/certuniqueid
tests/chainverify
tests/crq_apis
tests/crq_key_id
tests/crypto_rng
tests/cve-2008-4989
tests/cve-2009-1415
tests/cve-2009-1416
tests/dhepskself
tests/dn
tests/dn2
tests/finished
tests/gc
tests/gendh
tests/hostname-check
tests/init_roundtrip
tests/key-id/Makefile
tests/key-id/Makefile.in
tests/libutils.la
tests/mini
tests/mini-eagain
tests/mini-x509
tests/mini-x509-rehandshake
tests/moredn
tests/mpi
tests/netconf-psk
tests/nul-in-x509-names
tests/openpgp-auth
tests/openpgp-auth2
tests/openpgp-certs/Makefile
tests/openpgp-certs/Makefile.in
tests/openpgp-keyring
tests/openpgpself
tests/openssl
tests/parse_ca
tests/pathlen/Makefile
tests/pathlen/Makefile.in
tests/pgps2kgnu
tests/pkcs1-padding/Makefile
tests/pkcs1-padding/Makefile.in
tests/pkcs12-decode/Makefile
tests/pkcs12-decode/Makefile.in
tests/pkcs12_encode
tests/pkcs12_s2k
tests/pkcs12_s2k_pem
tests/pkcs8-decode/Makefile
tests/pkcs8-decode/Makefile.in
tests/pskself
tests/resume
tests/rsa-md5-collision/Makefile
tests/rsa-md5-collision/Makefile.in
tests/safe-renegotiation/Makefile
tests/safe-renegotiation/Makefile.in
tests/safe-renegotiation/srn*
tests/safe-renegotiation/srn1
tests/safe-renegotiation/srn2
tests/safe-renegotiation/srn3
tests/set_pkcs12_cred
tests/setcredcrash
tests/sha2/Makefile
tests/sha2/Makefile.in
tests/simple
tests/suite/eagain-cli
tests/suite/libecore.la
tests/tlsia
tests/userid/Makefile
tests/userid/Makefile.in
tests/x509_altname
tests/x509dn
tests/x509paths/
tests/x509self
tests/x509sign-verify
tests/x509signself
doc/examples/ex-cert-select-pkcs11
doc/examples/ex-client-udp
gl/tests/test-byteswap
gl/tests/test-fcntl-h
gl/tests/test-func
gl/tests/test-hmac-md5
gl/tests/test-md5
gl/tests/test-strings
gl/tests/test-strverscmp
gl/tests/test-u64
gl/tests/test-vasprintf
gl/tests/test-vsnprintf
gl/tests/test-intprops 
gl/tests/test-inttypes 
gl/tests/test-sys_uio
gl/tests/inttypes.h 
gl/time.h
lib/accelerated/libaccelerated.la
lib/accelerated/intel/libintel.la
doc/cyclo/cyclo-gnutls.html
lib/ext/libgnutls_ext.la
lib/auth/libgnutls_auth.la
tests/cipher-test
tests/suite/x509paths/X509tests
tests/x509cert
src/benchmark-cipher
src/benchmark-tls
doc/gnutls-guile.html
doc/version-guile.texi
build-aux/compile
doc/stamp-1
lib/algorithms/libgnutls_alg.la
gl/tests/inttypes.h
src/crywrap/crywrap
gl/dirent.h
gl/getopt.h
gl/math.h
doc/doxygen/latex/
doc/doxygen/html/
doc/latex/gnutls-enums.tex
doc/latex/enums
doc/latex/gnutls.lof
doc/latex/gnutls.lot
