/byteswap.m4
/codeset.m4
/func.m4
/gettext.m4
/glibc2.m4
/glibc21.m4
/gnulib-comp.m4
/hmac-md5.m4
/iconv.m4
/intdiv0.m4
/intl.m4
/intldir.m4
/intlmacosx.m4
/intmax.m4
/inttypes-pri.m4
/lcmessage.m4
/ld-output-def.m4
/ld-version-script.m4
/lock.m4
/md5.m4
/memmem.m4
/memxor.m4
/nls.m4
/po.m4
/printf-posix.m4
/progtest.m4
/strcase.m4
/strings_h.m4
/strverscmp.m4
/threadlib.m4
/time_r.m4
/uintmax_t.m4
/vasprintf.m4
/visibility.m4
/vsnprintf.m4
/manywarnings.m4
/warnings.m4
/netinet_in_h.m4
/stdarg.m4
/getdelim.m4
/getline.m4
/getpass.m4
/strdup.m4
/version-etc.m4
/timespec.m4
/clock_time.m4
/gettime.m4
/gettimeofday.m4
/sys_time_h.m4
