# X.509 Certificate options
#
# DN options

# The organization of the subject.
organization = "Big corp"

# The name (Koala)
cn = "anonymous"

# The locality of the subject.
# locality =

# The country of the subject. Two letter code.
country = GR

# The serial number of the certificate
serial = 009

