<!doctype book PUBLIC "-//Davenport//DTD DocBook V3.0//EN" [
<!ENTITY gnutls-gnutls SYSTEM "gnutls.sgml">
<!ENTITY gnutls-extra SYSTEM "extra.sgml">
<!ENTITY gnutls-x509 SYSTEM "x509.sgml">
<!ENTITY gnutls-pkcs12 SYSTEM "pkcs12.sgml">
<!ENTITY gnutls-openssl SYSTEM "openssl.sgml">
]>
<book id="index">
  <bookinfo>
    <title>GNU TLS API Reference Manual</title>
  </bookinfo>

  <chapter>
    <title>GNU TLS API Reference Manual</title>

    <para>
      This is the GNU TLS library, a implementation of the TLS
      (Transport Layer Security) and SSL (Secure Sockets Layer) for
      the GNU project.
      </para>

    <para>
      More up to date information can be found at
      <ulink url="http://www.gnu.org/software/gnutls/">
	http://www.gnu.org/software/gnutls/</ulink>.
    </para>

    &gnutls-gnutls;
    &gnutls-extra;
    &gnutls-x509;
    &gnutls-pkcs12;
    &gnutls-openssl;
  </chapter>
</book>
